*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --text-color: #111111;
    --bg-color: #fff;
    --text-hover: #707072;
    --bg-color-hover: #e5e5e5;
}
body{
    background-color: #fff!important;
}